<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GST Calculator.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>appRater.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>906CFBE11F15583100C971B2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>906FFF241F120F190035EF3C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>906FFF381F120F190035EF3C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>906FFF431F120F1A0035EF3C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
